<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.semester7cw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomStyle"
        tools:targetApi="31">
        <activity
            android:name=".GoogleMaps.GeoCoding.GeoCodingMain"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <action android:name="android.intent.action.BATTERY_LOW"/> -->
                <!-- <action android:name="android.intent.action.BATTERY_OKAY"/> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GoogleMaps.GoogleMapsMain"
            android:exported="true">

        </activity>
        <activity
            android:name=".WebView.Dynamic"
            android:exported="true">

        </activity>
        <activity
            android:name=".WebView.StaticMain"
            android:exported="true"></activity> <!-- <activity -->
        <!-- android:name=".PlacementPortal.PlacementPortalMain" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="" -->
        <!-- android:exported="true" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- &lt;!&ndash; <action android:name="android.intent.action.BATTERY_LOW"/> &ndash;&gt; -->
        <!-- &lt;!&ndash; <action android:name="android.intent.action.BATTERY_OKAY"/> &ndash;&gt; -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".SQLiteDatabase.EmployeeSalary.EmployeeSalaryMain"
            android:exported="false" />
        <activity
            android:name=".SQLiteDatabase.SQLMain"
            android:exported="true"></activity>
        <activity
            android:name=".CardView.CardViewMain"
            android:exported="true" />
        <activity
            android:name=".FAB.FABMenu.FABMenuMain"
            android:exported="true" />
        <activity
            android:name=".FAB.FABMain"
            android:exported="true" />
        <activity
            android:name=".Video.Video"
            android:exported="true" />
        <activity
            android:name=".Broadcast.BatteryStatusMain"
            android:exported="true" />
        <activity
            android:name=".Broadcast.WiFiMain"
            android:exported="true" />
        <activity
            android:name=".DynamicBroadcastService.AirplaneModeMain"
            android:exported="true" />
        <activity
            android:name=".Services.ForegroundService.ForegroundServiceMain"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Services.UnBoundService.UnBoundServiceMain" -->
        <!-- android:exported="true" > -->
        <!--  -->
        <!-- </activity> -->
        <activity
            android:name=".Services.BackgroundService.BackgroundServicesMain"
            android:exported="true" /> <!-- Registering Unbound Service -->
        <service android:name=".Services.BackgroundService.BackgroundServiceHelperClass" />

        <activity
            android:name=".AsyncAwait.ImageDownloadAsync.DownloadImage"
            android:exported="true" />
        <activity
            android:name=".AsyncAwait.AsyncMain"
            android:exported="true" />
        <activity
            android:name=".GridView.GridViewMain"
            android:exported="true" />
        <activity
            android:name=".RecyclerView.ReecyclerViewMain"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".BroadcasrReceiverAndJobService.BRAJSMain"
            android:exported="true" />

        <service android:name=".Services.ForegroundService.ForegroundServiceHelperClass" />
        <service android:name=".Services.BoundService.BoundHelper" />

        <receiver android:name=".BroadcasrReceiverAndJobService.BRAJSBroadcastReceiver" />
    </application>

</manifest>