<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.semester7cw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Semester7CW"
        tools:targetApi="31">
        <activity
            android:name=".Broadcast.BatteryStatusMain"
            android:exported="true" >



        </activity>
        <activity
            android:name=".Broadcast.WiFiMain"
            android:exported="true">

        </activity>
        <activity
            android:name=".DynamicBroadcastService.DBRMain"
            android:exported="true"></activity>
        <activity
            android:name=".Services.UnBoundService.UnBoundServiceMain"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Services.UnBoundService.UnBoundServiceMain" -->
        <!-- android:exported="true" > -->
        <!--  -->
        <!-- </activity> -->
        <activity
            android:name=".Services.Service.ServicesMain"
            android:exported="true" /> <!-- Registering Unbound Service -->
        <service android:name=".Services.Service.ServiceHelperClass" />

        <activity
            android:name=".AsyncAwait.ImageDownloadAsync.DownloadImage"
            android:exported="true" />
        <activity
            android:name=".AsyncAwait.AsyncMain"
            android:exported="true" />
        <activity
            android:name=".GridView.GridViewMain"
            android:exported="true" />
        <activity
            android:name=".RecyclerView.ReecyclerViewMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--                <action android:name="android.intent.action.BATTERY_LOW"/>-->
                <!--                <action android:name="android.intent.action.BATTERY_OKAY"/>-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >


        </activity>
        <activity
            android:name="com.project.semester7cw.BroadcasrReceiverAndJobService.BRAJSMain"
            android:exported="true" />

        <service android:name=".Services.UnBoundService.UnBoundServiceHelperClass" />
        <service android:name=".Services.BoundService.BoundHelper" />

        <receiver android:name=".BroadcasrReceiverAndJobService.BRAJSBroadcastReceiver" />
    </application>

</manifest>